.css-marquee {
  width: 100%;
  background:rgba(255, 255, 255, 0.6); ;
  padding: 10px 0px; 
  overflow: hidden;

}

.marquee-track{
     display: inline-flex;
     gap: 20px;
     width: max-content;
}

.animate-marquee{
    animation: scroll-left 15s linear infinite;
}

.animate-marquee:hover {
  animation-duration: 30s; /* slower speed */
}

.marquee-track img{
    width: auto;
    height: 330px;               /* Same height for all */
    object-fit: cover;           /* Keeps aspect ratio, fills box, crops if needed */
    border-radius: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    margin-right: 20px;
  
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


body{
    overflow-x: hidden;
}

html, body {
  font-family: "Montserrat", sans-serif !important;
  
}


#mobile-nav{
     display: none; 
}

/*  */

nav{
   
}

.navbar-toggler{
    border: none !important;
}

.nav-item{
    padding: 5px 10px;
    list-style-type: none;
    border-radius: 7px;
    font-weight: 600 !important;
}

.nav-item:hover,
.navbar-brand:hover{
    background-color: whitesmoke;
}

.navbar-brand i{
    font-size: 25px;
}

.navbar-brand{
    padding: 5px 9px;
    border-radius: 7px;
    font-size:25px ;
}

.nav-link{
    color: black;
    text-decoration: none;
    font-size: 22px;
  
}

.nav-link i{
    font-size: 27px;
    color: black;
}

#desktop-nav{
    width: 50%;
    background-color: white;
     padding: 7px 30px !important;
     border-radius: 15px;
     border: 1px solid #ccc;
   background: rgba(255, 255, 255, 0.6);
}

.bookMe{
    background-color: black;
    color: white;
    width: 150px;
    padding: 10px 0px;
    border: none;
    border-radius: 7px;
}

/*  */

/*  */

.hero-section{
    padding: 130px 160px 90px 160px;
   
}

.hero-content h3{
    font-size: 35px;
    font-weight: 700;
}

.hero-content{
    padding: 60px 10px 50px 0px;
}

.hero-content p{
    font-size: 19px;
    font-weight: 500;
    padding: 10px 0px;
}

.resume-wrapper{
    display: flex;
    column-gap: 20px;
}

.resume-wrapper button,
.resume-wrapper div{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: black;
    color: white;
    text-align: center;
    border: none;
}

.resume-wrapper div{
    width: 270px;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: #ccc;
    color: green;
}

.hero-image{
    padding: 0px 20px;
}

.hero-image img{
    width: 100%;
    border-radius: 15px;
    height: auto;
}

#name-intro{
  will-change: contents;
 
}

.name-intro-wrapper {
  height: 40px; /* adjust based on your font-size */
  overflow: hidden;
}


/*  */

/*  */

.about-section{
    padding: 50px 170px;
   text-align: center;
   align-content: center;
}

.about-section div p{
    font-size: 18px;
    font-weight: 500;
    text-align: start;
}

.about-section div h3{
    padding: 15px 0px;
}

/*  */

/*  */

.stack-section{
    padding: 30px 170px;
   display: flex;
   column-gap: 30px;
   justify-content: space-between;
}

.stack-section div{
     width: 100px;
     max-width: 110px;
     height: auto;
     animation: bounceUp 2s ease-in-out infinite;
    
}

.content-title{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding: 20px 0px;
}

.stack-section div p{
    padding-top: 10px;
    text-align: center;
}

.stack-section img{
   width: 100%;
   height: fit-content;
    
}


/*  */

@keyframes bounceUp {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.85);
    }
    50% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

p{
    color: gray;
    font-weight: 19px;
}

/* project-section */

 .project-section{
    padding: 40px 170px;
 }

 .project-wrapper{
    padding: 15px 15px;
    border: 1px solid #f7f1f1;
    border-radius: 15px;
    margin-bottom: 40px;
 }

 .project-image {
    padding: 20px 20px;
    
 }

.project-image img{
   width: 100%;
   height: auto;
   border-radius: 15px;
}

.project-info h3{
    padding: 50px 0px 10px 0px;
    font-size: 18px;
    font-weight: 600;
}

.project-info p{
    padding-bottom: 25px;
}

.project-info a{
    padding: 13px 25px;
    background-color: #ccc;
    border-radius: 10px;   
    transition: all 0.5s ;
    font-weight: 500;
}

.project-info a:hover{
    background-color: #dfdede;
}


/*  */

@media screen and (max-width : 778px) {

    #desktop-nav{
        display: none;
    }

    #mobile-nav{
        display: inherit;
         background-color: white;
         padding: 15px 30px !important;       
         border: 2px solid #f7f7f7;
          background: rgba(255, 255, 255, 0.6);
    }

    .nav-link i{
    padding-right: 15px;
   
    }

    .navbar-nav{
        padding-top: 25px;
    }

    .nav-item .nav-link{
         color: black !important;
         font-size: 19px;
    }

    /* .hero-section */

    .hero-section{
        padding: 80px 20px 50px 20px;
    }

    .hero-content{
        padding: 40px 0px 10px 0px;
    }

    .hero-content h3{
        font-size: 20px;
      
        font-weight: 600;
       
    }

    .hero-content p{
        font-size: 16px;   
    }

    .resume-wrapper{
        display: block;
        row-gap: 20px;
    }

    .resume-wrapper button,
    .resume-wrapper div{
        height: 45px;
        margin-bottom: 15px;
    }

    .marquee-track img{
       height: 220px;
    }

    /*  */
    
    .about-section{
        padding: 40px 20px;
    }

    /*  */

    .stack-section{
        padding: 40px 0px 40px 40px;
        columns: 2;
        display: inline-block;
        column-gap: 60px;
        justify-content: space-between;
        width: 100%;
        
        
    }

    .stack-section div{ 
        margin-bottom: 30px;
       
       
    }

    /* .project-section */

    .project-section{
        padding: 40px 20px;
    }

    .project-info h3{
        padding-top: 0px;
    }


}
